<div class="historia-clinica-container">
    <div class="historia-clinica-form">
      <h3>Ingreso de Datos Clínicos</h3>
      <form (ngSubmit)="guardarHistoria()">
        <label for="paciente">Paciente</label>
        <input id="paciente" name="paciente" type="text" [(ngModel)]="historia.paciente" required>
  
        <label for="diagnostico">Diagnóstico</label>
        <textarea id="diagnostico" name="diagnostico" [(ngModel)]="historia.diagnostico" required></textarea>
  
        <button type="submit">Guardar Historia</button>
      </form>
    </div>
  </div>
  