<div class="inventario-container">
    <h3>Inventario de la Clínica</h3>
    <table class="inventario-table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Fecha de Caducidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of inventario">
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.cantidad }}</td>
          <td>{{ producto.fechaCaducidad | date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  